# Python cache
__pycache__/

# Virtual environments
venv/
.venv/

# Ignore curve images
curves/


# Ignore large model files and training artifacts
logs/
results/
tensorboard_logs/
models/
*.zip
*.pkl

# Ignore OS files
.DS_Store
Thumbs.db